@import url('../fonts/theme-fonts/inter/stylesheet.css');
/* pulse in SVG */
.super-admin-header .HeaderSearch {
  position: relative;
}
.super-admin-header .HeaderSearch .form-control {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 16px !important;
  padding-left: 45px;
  height: 51px;
}
.super-admin-header .HeaderSearch .input-group-append {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  display: flex;
  align-items: center;
  color: #909090;
  font-size: 16px;
}
.super-admin-header .nav-item .nav-link.ai-icon {
  background: #FFFFFF !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  border-radius: 15px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 15px;
}
.super-admin-header .nav-item .nav-link .badge {
  top: 12px;
  right: 12px;
}




.TickUrl li {
  padding-left:30px;
  position: relative;
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #ddd;
  margin-bottom: 17px;
}

.TickUrl li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Pro";
  font-weight: 400;
  position: absolute;
  left: 0;
  color: #fff;
}

.TickUrl li.not,
.TickUrl li.not.active {
  opacity: .3;
}

.TickUrl li.not::before {
  content: "\f00d";
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
}

.TickUrl li.active {
  opacity: 1;
}


.ActiveCard .card-body {
  background: #173969;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 27.9137px;
}

.ActiveCard .card-body .sm-hd,
.ActiveCard .card-body li,
.ActiveCard .card-body h2 {
  color: #fff !important;
  opacity: 1;
  filter: brightness(0) invert(1);
}

.card.PlanCard .btn {
  width: 100%;
  margin-top: 20px;
}

.shadow-from .form-control {
  background: #FFFFFF;
  border: 0.2px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.shadow-from .btn {
  height: 56px;
}

.edit_dlt li {
  display: inline-block;
  background: #173969;
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  filter: brightness(1) !important;
}

.edit_dlt li a {
  color: #fff;
  line-height: 2;
  font-size: 15px;
}

.ActiveCard .card-body .edit_dlt li {
  background: #fff;
}

.ActiveCard .card-body .edit_dlt li a {
  color: #173969;
}

input[type="radio"]+label {
  display: flex;
  align-items: center;
  position: relative;
}

input[type="radio"]+label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-right: 15px;
  background-color: transparent;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  text-align: center;
  color: #fff;
  border: 1.5px solid #173969;
  box-sizing: border-box;
  border-radius: 50%;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label::before {
  width: 20px;
  height: 20px;
  margin-right: 19px;
  background: #173969;
  border: 4px solid #fff;
  box-shadow: 0 0 0 2px #173969;
  position: relative;
  left: 2px;
}


.features_switch_main .switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 29px;
}

.features_switch_main .switch input {
  display: none;
}

.features_switch_main .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #173969;
  border-radius: 40px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.features_switch_main .slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  background: #fff;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  top: 2px;
}

.features_switch_main input:checked+.slider {
  background: #ff7d44;
}

.features_switch_main input:checked+.slider:before {
  -webkit-transform: translateX(30px);
  -moz-transform: translateX(30px);
  transform: translateX(30px);
}

.features_switch_main p {
  color: #423f3f;
  text-transform: capitalize;
}

.features_model .modal-header .modal-title {
  color: #173969;
}

.logo-abbr-border {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  padding: 2px;
  border-image-source: linear-gradient(45deg, #173969, #173969);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

@media only screen and (max-width: 991px) {
  [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .nav-control .hamburger .line {
    background-color: #fff !important;
  }

  [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .logo-abbr {
    display: block !important;
  }

  [data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .deznav .metismenu>li {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .header .header-content {
    padding-left: 0.938rem;
  }

  .nav-header .brand-logo {
    width: 130px;
  }

  /* dashboard */
  .card-col {
    height: auto;
    margin-bottom: 0rem;
  }

  .card.gradient-bx .media-body h4 {
    font-size: 14px;
  }

  .OutstandingPayments {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .OutstandingPayments .progress {
    width: 75px;
    height: 75px;
  }

  .OutstandingPayments h4 {
    font-size: 18px;
  }

  .OutstandingPayments p {
    font-size: 16px;
  }

  .main-container .graph-main {
    padding: 16px;
  }

  .main-container .graph-main .graph-heading {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .main-container .graph-main .graph-heading .tabs-main {
    width: 100%;
    margin-bottom: 1rem;
  }

  .main-container .graph-main .graph-heading .tabs-main ul {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .main-container .graph-main .graph-heading .tabs-main .nav-tabs .nav-item .nav-link {
    font-size: 12px;
  }

  .main-container .graph-main .graph-heading h1 span {
    width: 35px;
    height: 35px;
  }

  .main-container .graph-main .income-expense-main {
    margin: 1rem 0 2rem;
  }

  .main-container .graph-main .graph-heading h1 {
    font-size: 16px;
  }

  .main-container .graph-main .income-expense-main h3 label {
    font-size: 12px;
  }



  .main-container .graph-main .income-expense-main h3 {
    text-align: left !important;
  }

  .form-head>div {
    display: block !important;
  }

  .form-head input {
    width: 100% !important;
  }

}

.center_flex {
  display: flex !Important;
  justify-content: center;
  margin: auto;
  width: 100% !Important;
}

.slick_custom_slider .slick-dots li button:before {
  font-size: 14px;
}

.slick_custom_slider .driver-img {
  width: 500px !important;
  height: 300px;
  max-width: 100%;
}

.slick_custom_slider .driver-img img {
  border-radius: 0 !important;
}

.slick_custom_slider .slick-prev:before,
.slick_custom_slider .slick-next:before {
  background: #000000;
  color: #ffffff;
  border-radius: 50%;
  font-size: 30px;
}